
.Workspaces-Panel{
    background-color:white;
    border: 1px #c9c9c9 solid
}
.Workspace-ListStyle {
    border: #ffb145 2px solid;
    border-top: 2px solid #dfdede;
    border-bottom: 2px solid #dfdede;
    border-radius: 6px;
    width: 600px;
    height: 50px;
    margin: 10px;
    padding-top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;  
}
.Workspace-ListStyle > div{
    display:inline-block;
}
.Workspace-ListStyle > div > div{
    display:inline;
}
.Workspace-ListStyle > a{
    float: right;
    margin-right: 8px;
}
.Workspace-name {
    width: 300px;
    text-align: center;
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.Mountain-WsContMenu {
    position: fixed;
    z-index: 10000;
    padding: 10px;
    background: #FBDF71;
    border:1px solid;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
    text-align: center;
}

.Mountain-WsContActive {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

.Mountain-WsContMenu .item {
    padding: 10px;
    background-color:#f6c500;
    font-size: 15px;
    color: #eee;
    display: block;
    margin-bottom:5px;
}
.Mountain-WsContMenu .item:hover {
    background: #ffdf60;
}
.Mountain-WsContMenu a{
    display:block;
}
.Mountain-WsContMenu .item > a > i {
    display: inline-block;
    margin-right: 5px;
    }
.Mountain-WsContMenu hr {
    margin: 2px 0px;
    border-color: #555;
}
.Mountain-PageFrame {
    border: #c9c9c9 solid 2px;
    border-radius: 6px;
    padding: 20px;
}
.Mountain-PageName{
    text-align:center;
    width: 50%;
}
.Mountain-WorkspacesToolPanel{
    width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:10px;
}
.Mountain-WorkspacesToolPanel > div{
    display: inline-block;
}

.Mountain-tabcontent {
    width: 500px;
    min-height: 300px;
    display:none;
    /*background: gainsboro;*/
    margin: 30px;
    padding: 30px;
}

.Mountain-tablink + .active {
    background: white;
    border: #c6c6c6 6px solid;
    display: inline-block;
 }
.Mountain-Tab {
    overflow: hidden;
   
}
.Mountain-Tab button {
    border-radius: 12px;
    border:none;
    width: 25px;
    height: 25px;
    background: #c6c6c6;
    display: inline-block;
    margin-right: 5px;
}
.Mountain-Tab button.active {
    background-color: white;
    border: 4px solid #c6c6c6;
}
    .Mountain-Tab button:focus {
       outline:none;
    }

.Mountain-RemindPanel{
    padding:5px;
    background: #c6c6c6;
    border-radius:16px;
    overflow:scroll;
    width:500px;
    height:55px;
    margin-left:10px;
    margin-top:20px;
    display:inline-block;
    white-space:nowrap;
}
.Mountain-RemindContainer {
    border: 1px solid #000000;
    border-radius: 12px;
    width: 50px;
    height:30px;
    display: inline-block;
    padding-left: 5px;
    background-color: white;
    margin-right: 5px;
   
}
.Mountain-RemindContainer:active{
    border-radius:12px;
    
}
.Mountain-ActiveRemind {
    border: 2px solid #007bff;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height:13px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.Mountain-RemTabContent{

}

.M-toolbarItem {
    display: inline-block;
    margin: 4px;
    border: 3px solid  antiquewhite;
    width: 25px;
    text-align: center;
}
    .M-toolbarItem > a {
        color: #dee110;
    }
    .M-toolbarItem:hover {
        border: 3px solid #f6c500;
        border-radius: 2px;
    }
.M-ActivePanel{
    border-left:3px solid yellow;
    margin-left:12px;
}

.M-RemsContainer {
    display: none;
    position: absolute;
    background: #FBDF71;
    padding: 10px;
    height: 400px;
    width:350px;
    border: 2px solid #A08000;
}
.M-RemsTab {
    background: white;
    width: 130px;
    border: 1px solid;
}
    .M-RTActive {
        background: #f6c500;
        border: 1px solid #f6c500;
    }
.M-RemsTabContent {
    overflow-y: scroll;
    display:none;
    height: 340px;
    margin-top: 10px;
    background: #FBD53F;
}
.M-RemItem {
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    margin: 5px;
    padding: 5px;
    background: #ffdd5f;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.M-RemName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 170px;
    margin: -5px;
    margin-left: 10px;
}
.M-DayName {
    color: #695b21;
    padding-left: 15px;
    font-weight: 400
}

.M-LSize{
    font-size:1.5rem;
}