
.Workspaces-Panel{
    background-color:white;
    border: 1px #c9c9c9 solid
}
.Workspace-ListStyle{
    border: #000000 2px solid;
    border-radius: 6px;
    width:600px;
    height:30px;
    margin:10px;
    padding-top:2px;
}
.Workspace-ListStyle > div{
    display:inline-block;
}
.Workspace-ListStyle > div > div{
    display:inline;
}
.Workspace-ListStyle > a{
    float: right;
    margin-right: 8px;
}
.Workspace-name{
    width: 300px;
    text-align:center;

}
.Mountain-WsContMenu {
    position: fixed;
    z-index: 10000;
    padding: 10px;
    background: #c6c6c6;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
    text-align: center;
}

.Mountain-WsContActive {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

.Mountain-WsContMenu .item {
    padding: 10px;
    font-size: 15px;
    color: #eee;
    display: block;
}
.Mountain-WsContMenu .item:hover {
    background: #ffdf60;
}
.Mountain-WsContMenu a{
    display:block;
}
.Mountain-WsContMenu .item > a > i {
    display: inline-block;
    margin-right: 5px;
    }
.Mountain-WsContMenu hr {
    margin: 2px 0px;
    border-color: #555;
}
.Mountain-PageFrame {
    border: #c9c9c9 solid 2px;
    border-radius: 6px;
    padding: 20px;
}
.Mountain-PageName{
    text-align:center;
    width: 50%;
}
.Mountain-WorkspacesToolPanel{
    width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:10px;
}
.Mountain-WorkspacesToolPanel > div{
    display: inline-block;
}

.Mountain-tabcontent {
    width: 500px;
    min-height: 300px;
    display:none;
    /*background: gainsboro;*/
    margin: 30px;
    padding: 30px;
}

.Mountain-tablink + .active {
    background: white;
    border: #c6c6c6 6px solid;
    display: inline-block;
 }
.Mountain-Tab {
    overflow: hidden;
   
}
.Mountain-Tab button {
    border-radius: 12px;
    border:none;
    width: 25px;
    height: 25px;
    background: #c6c6c6;
    display: inline-block;
    margin-right: 5px;
}
.Mountain-Tab button.active {
    background-color: white;
    border: 4px solid #c6c6c6;
}
    .Mountain-Tab button:focus {
       outline:none;
    }

.Mountain-RemindPanel{
    padding:5px;
    background: #c6c6c6;
    border-radius:16px;
    overflow:scroll;
    width:500px;
    height:55px;
    margin-left:10px;
    margin-top:20px;
    display:inline-block;
    white-space:nowrap;
}
.Mountain-RemindContainer {
    border: 1px solid #000000;
    border-radius: 12px;
    width: 50px;
    height:30px;
    display: inline-block;
    padding-left: 5px;
    background-color: white;
    margin-right: 5px;
   
}
.Mountain-RemindContainer:active{
    border-radius:12px;
    
}
.Mountain-ActiveRemind {
    border: 2px solid #007bff;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height:13px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.Mountain-RemTabContent{

}

.M-toolbarItem {
    display: inline-block;
    margin: 4px;
    border: antiquewhite;
    width: 25px;
    text-align: center;
}
    .M-toolbarItem > a {
        color: #dee110;
    }
.M-ActivePanel{
    border-left:3px solid yellow;
    margin-left:12px;
}