.M-navbar {
    border-radius: 12px;
    border-left: 2px solid yellow;
    border-right: 2px solid yellow;
}
.M-navbaritem::before{
    content:'';
    display:block;
    height: 3px;
    background-color:yellow;
    width:0%;
}
.M-navbaritem:hover::before{
    width:100%
}
