@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Підтвердження зміни паролю";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль змінено. <a asp-page="./Login">Нажміть сюди щоб перейти до входу</a>.
</p>
