.AimPanel {
    border: 3px solid #8d8d8d57;
    display: inline !important;
}
.AimPanelDropDown {
    display: inline;
    height: 28px;
    padding-right: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
}
.ListPanel {
    border: 3px solid #8d8d8d57;
    display: inline !important;
}

.ListPanelDropDown {
    display: inline-block;
    height: 23px;
    padding-right: 6px;
    padding-top: 0px;
    padding-bottom: 23px;
    padding-left: 6px;
    width: 29px;
}
.ListContainer {
    margin-top: 10px;
    margin-left: 30px;
}

.PriorityStatus {
    background: linear-gradient( 138deg, #d7601d, #ffc107);
    width: 13px;
    height: 13px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0px;
}
.TaskPanel {
    display: inline-block;
    margin-left: 20px;
}
.TaskPanel > div{
    display: inherit;
}

.ToolsPanel{
    padding: 8px;
}

.M-AimPanel {
    border: 1px solid;
    border-radius: 12px;
    text-align: center;
    margin: 8px;
    display: block;
}
.M-AimPanel > button{
    background:white;
    border:none;
    float:left;
    margin:3px;
}

.M-PageFragment {
    /*  border: 2px solid #c6c6c6;*/
    border-radius: 6px;
    padding: 10px;
    display: inline-block;
    overflow: auto;
    margin: 15px;
    background: #eeeeeb17;
}
.M-ListContainer{
    overflow-y:scroll;
    display:block;
}

::-webkit-scrollbar {
    width: 10px;
    height: 13px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.M-ProgressBar {
    border: none;
    background-color: rgba(31,85,223,0.25);
    height:100%;
    position: absolute;
    z-index: -1px;
    border-radius: 6px;
}

.M-HButton{
    background: none;
    border:none;
}
.M-HButton:focus{
    outline: none;
}
.M-HButton > i{
    display:block;
}

.M-AContainer {
    border: 1px solid;
    border-left: 2px solid yellow;
    min-width: 20px;
    border-right: 2px solid yellow;
    background: #fcfca7;
    height: 23px;
    display: inline-block;
    text-align: center;
    border-radius: 9px;
    margin-left: 3px;
    margin-right: 3px;
}
.M-TLcontainer {
    border: 1px solid;
    border-left: 2px solid yellow;
    min-width: 20px;
    border-right: 2px solid yellow;
    background: #fcfca7;
    height: 23px;
    display: inline-block;
    text-align: center;
    border-radius: 9px;
    margin-left: 3px;
    margin-right: 3px;
}
.M-UTcontainer {
    border: 1px solid;
    border-left: 2px solid yellow;
    min-width: 20px;
    border-right: 2px solid yellow;
    background: #fcfca7;
    height: 23px;
    display: inline-block;
    text-align: center;
    border-radius: 9px;
    margin-left: 3px;
    margin-right: 3px;
}

