@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Органайзер Mountain</h1>
    <h2>Вітаємо на головній сторінці сайту!</h2>
   <img src="~/Recources/Images/mountain.png"/>
</div>
