@model MountainWeb.Models.AppUser.EditVM

<link rel="stylesheet" href="~/Recources/WorkSpaceStyles.css" />
<link rel="stylesheet" href="~/css/Profile/ProfileStyles.css" />
<link href="~/css/MountainStyles.css" rel="stylesheet" />




<div class="M-PageFragment" style="height:500px;">
    <a class="M-Menu1Button M-M1Active" name="Tab">Дані профілю</a>
    <a class="M-Menu1Button" name="Tab">Зміна паролю</a>
    <a class="M-Menu1Button" name="Tab">Зміна пошти</a>
    <a class="M-Menu1Button" name="Tab">Зміна аватарки</a>
</div>
    <div class="M-PageFragment" style="height:500px;width:600px;">
        <form asp-action="" asp-controller="" method="post">


            <button type="submit" style="margin:20px;">Зберегти</button>
        </form>
       
    </div>
