@model MountainWeb.Models.WorkspaceGroup.CreateVM

<div class="row" style="justify-content:center;">
    <form asp-action="CreateWorkspace" asp-controller="Workspace">
        <h2 class="text-center">Створення</h2>
        <h5 class="text-center">Категорії</h5>

        <div class="form-group">
            <label asp-for="Name" class="control-label">Назва:</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Створити" class="btn btn-primary" />
        </div>
    </form>
</div>
